.details-header{
    color: var(--red);
    margin: 1em auto;
    font-size: clamp(1rem, 2.5vw, 1.5rem)
}
.price-list-inclusive,
.price-list-exclusive {
    list-style: none;
}
.price-list-inclusive > li::before{
    content: "✓";
    color: #28a745; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
}
.price-list-exclusive > li::before{
    content: "✕";
    color: #dc3545; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
}
.price-list-exclusive,
.price-list-inclusive {
    color: rgb(104, 102, 102);
    font-weight:400 ;
    font-size: .9em;
}
.day-header{
    background-color: #ddd;
    padding: .5em;
}
.day-header > span:nth-child(1){
    margin-right: .5em;
}
.day-header > span:nth-child(2){
    color: var(--red);
}
.day-details > p{
    color: rgb(104, 102, 102);
    font-size: clamp(.9rem, 2.5vw, 1rem)
}
.lpa-title > p{
    color: var(--red);
    font-weight: 500;
}
.accordion-header{
    font-size: clamp(1rem, 2.5vw, 1.5rem) !important;
    color: var(--red) !important;
}